<!-- Start of footer -->
<table width="100%" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="footer">
    <tbody>
        <tr>
            <td>
                <table   bgcolor="#fcfcfc" width="600"  cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                    <tbody>
                        <tr>
                            <td width="100%">
                                <table bgcolor="#2a2a62" width="600" height="80" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                    <tbody>
                                        <!-- Spacing -->
                                        <tr>
                                            <td align="center" style="padding: 15px 0px 10px 0px;"><img height="21" src="{{email_img_url}}logo.png" /></td>
                                        </tr>
                                        <!-- <tr>
                                            <td height="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                        </tr> -->
                                        <!-- Spacing -->
                                        <tr>
                                            <td>
                                            <!-- Social icons -->
                                                <table  width="0"  border="0" cellpadding="0" cellspacing="0" class="devicewidth" align="center">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="share" >
                                                                    <img src="{{email_img_url}}fb.png" alt="" border="0" width="35" height="35" style="display:block; border:none; outline:none; text-decoration:none;">
                                                                    <img src="{{email_img_url}}twitter.png" alt="" border="0" width="35" height="35" style="display:block; border:none; outline:none; text-decoration:none;">
                                                                    <img src="{{email_img_url}}google_plus.png" alt="" border="0" width="35" height="35" style="display:block; border:none; outline:none; text-decoration:none;">
                                                                    <img src="{{email_img_url}}youtube.png" alt="" border="0" width="35" height="35" style="display:block; border:none; outline:none; text-decoration:none;">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            <!-- end of Social icons -->
                                            </td>
                                        </tr>
                                        <!-- Spacing -->
                                        <tr>
                                            <td align="center" height="21" style="padding: 10px 0px 15px 0px;" class="copy"> Copyright © 2016 Dither App. All rights reserved </td>
                                        </tr>
                                        <!-- Spacing -->
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!-- End of footer -->
<!-- End of postfooter -->
