                                <tr bgcolor="#fff">
                                    <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
                                </tr>
                                <!-- Spacing -->
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- END contact detail -->
        <!-- End of Full Text -->
        <!-- Start of seperator -->
        <!-- End of seperator -->
        <!-- Start of Right Image -->
        <!-- End of Right Image -->
        <!-- Start of seperator -->
        <table width="100%" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="seperator" class="green_table">
            <tbody>
                <tr>
                    <td>
                        <table  bgcolor="#29bd9b" width="600" align="center" cellspacing="0" cellpadding="30" border="0" class="devicewidth" style="color:#fff;" >
                            <tbody>
                                <tr>
                                    <!-- <td >
                                            <h4 style="margin-top:5px; line-height: 24px;">
                                                SUBSCRIBE OUR NEWS LETTER
                                            </h4>
                                            <p style=" line-height:22px; font-size:14px;">
                                                Click here to subscribe our newsletter to get daily update for our upcomming events
                                            </p>
                                        </td>
                                        <td>
                                            <div class="subscribe"> <a href="#">SUBSCRIBE</a> </div>
                                        </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End of seperator -->
        <!-- Start of footer -->
        <table width="100%" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="footer">
            <tbody>
                <tr>
                    <td>
                        <table   bgcolor="#fcfcfc" width="600"  cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                                <tr>
                                    <td width="100%">
                                        <table bgcolor="#2a2a62" width="600" height="80" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                            <tbody>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td align="center" style="padding:38px 0 25px"><img src="{{email_img_url}}logo_small.png" /></td>
                                                </tr>
                                                <tr>
                                                    <td height="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <!-- Social icons -->
                                                    <td>
                                                        <table  width="0"  border="0" cellpadding="2" cellspacing="0" class="devicewidth" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div class="share" > <img src="{{email_img_url}}fb.png" alt="" border="0" width="35" height="35" style="display:block; border:none; outline:none; text-decoration:none;">
                                                                            <img src="{{email_img_url}}twitter.png" alt="" border="0" width="35" height="35" style="display:block; border:none; outline:none; text-decoration:none;">
                                                                            <img src="{{email_img_url}}google_plus.png" alt="" border="0" width="35" height="35" style="display:block; border:none; outline:none; text-decoration:none;">
                                                                            <img src="{{email_img_url}}youtube.png" alt="" border="0" width="35" height="35" style="display:block; border:none; outline:none; text-decoration:none;">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <!-- end of Social icons -->
                                                </tr>
                                                <!-- Spacing -->
                                                <tr>
                                                    <td height="10" class="copy">
                                                        Copyright © 2016 Dither App. All rights reserved
                                                    </td>
                                                </tr>
                                                <!-- Spacing -->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End of footer -->
        <!-- End of postfooter -->
    </body>
</html>
